.list-group-item,
body {
    background-color: rgba(241, 241, 241, 0.99) !important;
}


.w3-text-red {
    margin-top: 0px;
!important;
    margin-bottom: -10px;
!important;
}

.w3-round {
    overflow: hidden;
!important;
    border: 5px solid rgba(255, 0, 0, 0.5);
}

.w3-margin-bottom {
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.15);
}


.imgDiv {
    width: 100%;
    height: 10em;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.titleScroll {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    height: 2em;
}

.titleScroll:hover {
    text-overflow: unset;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding-bottom: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
}

.w3-row-padding {
    display: flex;
    flex-direction: row;
    overflow-x: overlay;
}

.w3-col {
    padding: 8px !important;
    min-width: 20em;
    margin-right: 10px;
    margin-left: 10px;
}

.w3-light-grey {
    max-width: 20em;
}

img {
    width: 100%
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.btnSeparator {
    border-right: solid;
}

.btnSeparatorR {
    border-right: solid;
    max-width: 50%;
    min-width: 9.5em;
    margin-top: 2px;

}

.btnSeparatorL {
    border-left: solid;
    max-width: 50%;
    min-width: 9.4em;
    margin-top: 2px;
}


.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:visited {
    background-color: rgba(255, 0, 0, 0.5) !important;
    border-color: rgba(255, 0, 0, 0.5) !important;
    outline: none !important;
    box-shadow: none !important;
    color: white;
}

#addToAlbum {
    color: white;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    padding: 0 1.25rem !important;
    border: none !important;
}